<!DOCTYPE html>

<html lang="en">

<head>
	<title>Travel Guide</title>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="stylesheet" href="/restaurant-details-styles.css"/>
    <link rel="icon" type="image/png" href="images/icon.svg">

</head>

<body>

    <script src="/scripts/header.js"></script>


        <div class="restaurant-details">
            <img class="restaurant-details-img" src="<%= restaurant.image %>">
            <div>
                <h1><%= restaurant.name %></h1>
                <h2><%= restaurant.add %></h2>
                <h2><%= restaurant.add1 %></h2>
                <h2><%= restaurant.num %></h2>
                
                <div> Reviews:
                    <% for (let review of reviews) { %>
                        <div> <%= review.name </div>
                        <div> <%= review.star </div>
                    <% } %>
                </div>
            </div>
        </div>


    <footer></footer>
    
</body>

</html>
