<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restaurant Page</title>
    <link rel="stylesheet" href="styles.css">
    <script defer src="/scripts/restaurantDelete.js"></script>
</head>

<body>
    
    <script src="scripts/header.js"></script>
    

    <div class="container" id="restaurant-list">
        <% restaurants.forEach((restaurant, index) => { %>
            <div class="box" id="restaurant-<%= restaurant.id %>">
                <img src="<%= restaurant.image %>"/>
                <div class="text-box">
                    <div><%= restaurant.name %></div>
                    <div><%= restaurant.add %></div>
                    <div><%= restaurant.add1 %></div>
                    <div><%= restaurant.num %></div>
                </div>
            
                <button class="delete-button" id="delete-<%= restaurant.id %>">X</button>

            </div>
        <% }); %>
    



</body>
</html>